form{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border-radius: 25px round;
    height: 200px;
    margin-top: 70px;
}
body{
    background-color: rgb(152, 152, 181);
}

#description{
    margin-left: 41px;
}
#category{
    width: 170px;
    margin-right: 22px;
}
#btn{
    margin-top: 20px;
    cursor: pointer;
    color:black;
    font-weight: bold;
}
input{
    height: 20px;
    margin: 2px;
}

h1{
   text-align: center;
}
div{
    height: 300px;
    border: 2px solid black;
    width: 800px;
    margin-left: 350px;

}